<!-- About -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2><strong>About</strong> me</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-6"> <img src="img/about.png" class="img-responsive"> </div>
      <div class="col-md-6">
        <div class="about-text"> <i class="fa fa-users"></i>
          <div class="padding-left"><h4>Who I am</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p></div>
          <i class="fa fa-magic"></i>
          <div class="padding-left"><h4>What I Do</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam.</p></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Achievements -->
<div id="achivements" class="section dark-bg">
  <div class="container"> 
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="achivement-box">
          <i class="fa fa-smile-o"></i>
          <span class="count">120</span>
          <h4>Happy clients</h4>                            
        </div>
      </div> 
      <div class="col-md-3 col-sm-3">
        <div class="achivement-box">
          <i class="fa fa-code"></i>
          <span class="count">7,800</span>
          <h4>Working hours</h4>                            
        </div>
      </div> 
      <div class="col-md-3 col-sm-3">
        <div class="achivement-box">
          <i class="fa fa-check-square-o"></i>
          <span class="count">340</span>
                        <h4>Projects completed</h4>
        </div>
      </div> 
      <div class="col-md-3 col-sm-3">
        <div class="achivement-box">
          <i class="fa fa-trophy"></i>
          <span class="count">25</span>
          <h4>Awards won</h4>                            
        </div>
      </div> 
    </div>
  </div>
</div>