<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2><strong>Contact</strong> me</h2>
      <hr>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-6"> <i class="fa fa-envelope-o fa-2x"></i>
        <p><a href="mailto:matt.cwalinski@gmail.com">matt.cwalinski@gmail.com</a></p>
      </div>
      <div class="col-md-6"> <i class="fa fa-phone fa-2x"></i>
        <p>202.699.9370</p>
      </div>
      <hr>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
</div>