<div id="experience" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2><strong>Experience</strong></h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
    </div>
    <div id="row">
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail"> <img src="img/aamc-logo.png" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>AAMC</h3>
            <p>Lead Software Engineer</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail"> <img src="img/wp-logo.png" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Washington Post</h3>
            <p>Lead Developer</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail"> <img src="img/kiplinger_logo.png" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Kiplinger Personal Finance</h3>
            <p>Web Development Manager</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail"> <img src="img/oct-logo.png" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Oswego County Today</h3>
            <p>Web Architect</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>