<div id="experience" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2><strong>Experience</strong></h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
    </div>
    <div id="row">
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail"> <img src="img/aamc-logo.png" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>AAMC</h3>
            <p>Lead Software Engineer</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail"> <img src="img/wp-logo.png" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Washington Post</h3>
            <p>Lead Developer</p>
            <p>As a Lead Developer, my primary focus is researching, suggesting and guiding the technical side of tools and applications.</p>
            <p>
This includes testing and implementing new technologies, writing, clean and concise code, as well mentoring and interacting other developers to ensure that the business objective and a scalable development objective are both met.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail"> <img src="img/kiplinger_logo.png" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Kiplinger Personal Finance</h3>
            <p>Web Development Manager</p>
            <p>I provided leadership of web development projects from conception to completion, managed development resources and enhanced the overall experience and presentation of Kiplinger’s web presence.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>