<nav id="footer">
  <div class="container">
    <div class="pull-left fnav">
      <p>Copyright &copy; 2016.</p>
    </div>
    <div class="pull-right fnav">
      <ul class="footer-social">
        <li><a href="https://twitter.com/mcwalinski"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/mcwalinski
"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</nav>