<!--[if lte IE 9]><html class="no-js is-ie"><![endif]-->
<!--[if gt IE 8]><!--><html class=no-js><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="description" content="BlackTie Free Bootstrap Theme">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Matthew Cwalinski - Web Engineer</title>
  <link rel=stylesheet href="stylesheets/main.css">
  <% include partials/stylesheets.ejs %>
  <!--[if lte IE 8]>
  <link rel=stylesheet href="css/ie.css">
  <![endif]-->
</head>