<div id="skills" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>My <strong>Skills</strong></h2>
      <hr>
      </div>
    <div class="space"></div>
    <div class="row">
        <div class="col-md-3 col-sm-6 service"> <i class="fa fa-cloud"></i>
          <h4><strong>Cloud Computing / AWS</strong></h4>
          <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
        </div>
        <div class="col-md-3 col-sm-6 service"> <i class="fa fa-code"></i>
          <h4><strong>AngularJS</strong></h4>
          <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque.</p>
        </div>
        <div class="col-md-3 col-sm-6 service"> <i class="fa fa-rocket"></i>
          <h4><strong>NodeJS</strong></h4>
          <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
        </div>
        <div class="col-md-3 col-sm-6 service"> <i class="fa fa-database"></i>
          <h4><strong>MongoDB</strong></h4>
          <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.</p>
        </div>
        <div class="col-md-3 col-sm-6 service"> <i class="fa fa-laptop"></i>
          <h4><strong>CI / CD</strong></h4>
          <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
        </div>
        <div class="col-md-3 col-sm-6 service"> <i class="fa fa-code"></i>
          <h4><strong>Task Runners / Preprocessors</strong></h4>
          <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque.</p>
        </div>
        <div class="col-md-3 col-sm-6 service"> <i class="fa fa-rocket"></i>
          <h4><strong>LAMP Stack</strong></h4>
          <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
        </div>
        <div class="col-md-3 col-sm-6 service"> <i class="fa fa-github"></i>
          <h4><strong>Version Control</strong></h4>
          <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.</p>
        </div>
      </div>
    </div>
  </div>
</div>