<!DOCTYPE html>
<html lang="en" ng-app="userApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matthew Cwalinski - Web Engineer</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicons  -->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

  <!-- Stylesheets -->
  <% include partials/stylesheets.ejs %>

  <!-- Fonts -->
  <% include partials/fonts.ejs %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="userCtrl">
  <!-- Navigation -->
  <% include partials/nav.ejs %>

    <% include partials/header.ejs %>

    <!-- Skills Section -->
    <% include partials/skills.ejs %> 

    <!-- Work Section -->
    <!-- include partials/work.ejs %> -->

    <!-- About Section -->
    <% include partials/about.ejs %>

    <!-- Experience Section -->
    <% include partials/experience.ejs %>

    <!-- Testimonials Section -->
    <% include partials/testimonials.ejs %>

    <!-- Contact Section -->
    <% include partials/contact.ejs %>

  <!-- Footer -->
  <% include partials/footer.ejs %>

  <!-- Javascript Files -->
  <% include partials/javascripts.ejs %>
</body>
</html>