<!DOCTYPE html>
<html ng-app="notesApp"><html>
  <% include partials/nav.ejs %>  
  <body ng-controller="notesCtrl">
    <div class="level level-hero hero-home has-hint">

    <div class="hero-overlay visible-lg"></div>

    <div class="container full-height">
      <div class=v-align-parent>
        <div class=v-center>
          <div class="row">
            <div class="col-xs-10 col-sm-6">
              <h1 class="mb-10 heading">Matthew Cwalinski</span></h1>
              <div class="subheading mb-20">Building a Better Internet</div>
            </div>
          </div>
          <!-- <div>
            <a class="btn btn-prepend" href="#">
              <i class="prepended icon-append-check"></i>Login
            </a>
          </div> -->
        </div>
      </div>

      <div class=hint-arrow></div>
    </div>
  </div>
  <div class=level>

    <div class="container mb-100 xs-mb-40">
      <div class=row>
        <div class="col-sm-5 col-md-4 col-md-offset-2 col-sm-offset-1">
          <h1 class="mb-10 xs-mb-10 heading color-dark heading-bordered">About<br class=hidden-xs>Matt</h1>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <p class="xs-mw">Copy Copy Copy</p>
        </div>
      </div>
    </div>

<!--     <div class="level level-hero hero">
      <h2 class="col-md-8 col-md-offset-2">As long as a journalist tells the truth, in conscience and fairness, it is not his job to worry about consequences. The truth is never as dangerous as a lie in the long run. I truly believe the truth sets men free.</h2>
      <h4 class="col-md-8 col-md-offset-2"> - Ben Bradlee</h4>
    </div> -->

    <div class=container>
      <div class="row mb-90 xs-mb-0">
        <div class="col-sm-1 col-sm-offset-2">
          <i class="icon icon-check"></i>
        </div>
        <div class="col-sm-3">
          <h3 class="mb-15">Skill</h3>
          <p class="smaller xs-mb-40 xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </div>
        <div class="col-sm-1">
          <i class="icon icon-calendar"></i>
        </div>
        <div class="col-sm-3">
          <h3 class="mb-15">Skill</h3>
          <p class="smaller xs-mb-40 xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </div>
      </div>  
      <div class="row mb-90 xs-mb-0">
        <div class="col-sm-1 col-sm-offset-2">
          <i class="icon icon-check"></i>
        </div>
        <div class="col-sm-3">
          <h3 class="mb-15">Skill</h3>
          <p class="smaller xs-mb-40 xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </div>
        <div class="col-sm-1">
          <i class="icon icon-calendar"></i>
        </div>
        <div class="col-sm-3">
          <h3 class="mb-15">Skill</h3>
          <p class="smaller xs-mb-40 xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </div>
      </div>  
      <div class="row mb-90 xs-mb-0">
        <div class="col-sm-1 col-sm-offset-2">
          <i class="icon icon-check"></i>
        </div>
        <div class="col-sm-3">
          <h3 class="mb-15">Skill</h3>
          <p class="smaller xs-mb-40 xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </div>
        <div class="col-sm-1">
          <i class="icon icon-calendar"></i>
        </div>
        <div class="col-sm-3">
          <h3 class="mb-15">Skill</h3>
          <p class="smaller xs-mb-40 xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </div>
      </div>  
    </div>

  <div class="level level-img-right">

    <div class="container xs-mb-30">
      <img class=img-right-sprite src="img/v2/iphone-bg-lg.min.png" alt>
      <div class="row mb-60 xs-mb-20">
        <div class="col-sm-6 col-lg-offset-1 col-lg-5">
          <h1 class="mb-20 xs-mb-10 heading color-dark heading-bordered xl-heading-outdent">What <br> I've Done</h1>
          <h2 class="w-300 color-dark mb-10">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s..</h2>
          <p class=xs-mw>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </div>
      </div>

    <div class="visible-xs xs-mw xs-mb-40">
      <img src="img/v2/iphone-mobile.min.png" alt>
    </div>

      <div class="row mb-60 xs-mb-20">
        <div class="col-sm-1 col-lg-offset-1">
          <i class="icon icon-globe"></i>
        </div>
        <div class="col-sm-4 col-md-3">
          <h3 class="mb-15">Web</h3>
          <p class="smaller xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </div>
      </div>

      <div class="row mb-60 xs-mb-20">
        <div class="col-sm-1 col-lg-offset-1">
          <i class="icon icon-eye"></i>
        </div>
        <div class="col-sm-4 col-md-3">
          <h3 class="mb-15">Mobile</h3>
          <p class="smaller xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 col-lg-offset-1">
          <i class="icon icon-bubble"></i>
        </div>
        <div class="col-sm-4 col-md-3">
          <h3 class="mb-15">Social</h3>
          <p class="smaller xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </div>
      </div>
    </div>

  </div>

  <div class="level level-outro text-center">
    <div class=container>

      <form class=contact method=get action="/" accept-charset="UTF-8">

        <div class="h2 mb-20">Talk To Me</div>
       
          <input type=email class="text" name="email" placeholder="email" required>

      </form>
    </div>


  </div>

  <% include partials/footer.ejs %>  
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

  <script src="js/bootstrap.min.js"></script>
  <script src="js/dropdown.js"></script>
  <script src="js/modal.js"></script>
  <script src="js/main.js"></script>
  <!-- //-end- concat_js -->
   </body>
   <% include partials/javascripts.ejs %>  
</html>