<div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
    <ul class="nav nav-pills nav-stacked">
        <!-- <button class="btn btn-primary btn-md nav-link" ng-click="getNotes('all')">All Applications</button> -->
        <li class="nav-item"><a class="nav-link" href="/admin/feature/Reporters: Business">Reporters: Business&amp;Financial</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/feature/Reporters: Features">Reporters: Features</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/feature/Reporters: Foreign (assignments would be in the Washington newsroom)">Reporters: Foreign (assignments would be in the Washington newsroom)</a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="/admin/feature/Reporters: Investigative">Reporters: Investigative</a></li> -->
        <li class="nav-item"><a class="nav-link" href="/admin/feature/Reporters: Local">Reporters: Local</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/feature/Reporters: National (includes health">Reporters: National (includes health&amp;science)</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/feature/Reporters: Sports">Reporters: Sports</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/feature/Editorial Writers">Editorial Writers</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/feature/Visual Journalists: Photography">Visual Journalists: Photography</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/feature/Visual Journalists: Video">Visual Journalists: Video</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/feature/Copy Editors">Copy Editors</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/feature/Multiplatform Producers">Multiplatform Producers</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/feature/News Designers">News Designers</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/feature/Digital Designers">Digital Designers</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/feature/Graphic Reporters">Graphic Reporters</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/feature/Graphic Developers">Graphic Developers</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/feature/Social Media Producers">Social Media Producers</a></li>  
    </ul>
</div>